.logoutbut {
    color: #000;
    background-color: #fff;
    border: 1px solid #2f3336;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom:10px;
}
.cancelbut{
    color: #fff;
    background-color: #000;
    border: 1px solid #2f3336;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}